/*/
////////////////////////////////////////////////////////////////////////////////
///
///  style 8
///
////////////////////////////////////////////////////////////////////////////////
/*/

/*
////////////////////////////////////////////////////////////////////////////////

  1. reset
  2. header
  3. navigation
  4. module positions
  5. titles
  6. buttons
  7. variations
  8. custom pages
  9. typography
  10. joomla
  11. extensions

////////////////////////////////////////////////////////////////////////////////
*/

/*
///////////////////////////////////////////////////////////////////////////////

#5c6bc0 - main color

///////////////////////////////////////////////////////////////////////////////
*/

/*//////////////////////////////////////////////////////////////////////////////

1. reset

//////////////////////////////////////////////////////////////////////////////*/

a { color: #5c6bc0; }
a:hover, a:focus { color: #444; outline: none; }

/*//////////////////////////////////////////////////////////////////////////////

2. header

//////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////////////////////////////////

3. navigation

//////////////////////////////////////////////////////////////////////////////*/

/*/
///
///  nav style
///
/*/

/* active */

.favnav .navigation .nav-pills > .active > a,
.favnav .navigation .nav-pills > li > a:hover,
.favnav .navigation .nav-pills > li > a:focus,
.favnav .navigation .menunav-pills > .active > a,
.favnav .navigation .menunav-pills > li > a:hover,
.favnav .navigation .menunav-pills > li > a:focus,
.favnav .navigation li span.nav-header:hover,
.favnav .navigation li span.nav-header:focus,
.favnav .navigation .nav-pills > .active > span.nav-header,
.favnav .navigation .nav-pills > li > span.nav-header:hover,
.favnav .navigation .nav-pills > li > span.nav-header:focus,
.favnav .navigation .menunav-pills > .active > span.nav-header,
.favnav .navigation .menunav-pills > li > span.nav-header:hover,
.favnav .navigation .menunav-pills > li > span.nav-header:focus {
  background-color: #5c6bc0 !important;
  color: #fff !important;
}

/* icons */

.favnav .navigation li a[class^="fa-"]:hover:before,
.favnav .navigation li a[class*=" fa-"]:hover:before,
.favnav .navigation li a[class^="fa-"]:focus:before,
.favnav .navigation li a[class*=" fa-"]:focus:before,
.favnav .navigation li.active a[class^="fa-"]:before,
.favnav .navigation li.active a[class*=" fa-"]:before,
.favnav .navigation li span.nav-header[class^="fa-"]:hover:before,
.favnav .navigation li span.nav-header[class*=" fa-"]:hover:before,
.favnav .navigation li span.nav-header[class^="fa-"]:focus:before,
.favnav .navigation li span.nav-header[class*=" fa-"]:focus:before,
.favnav .navigation li.active span.nav-header[class^="fa-"]:before,
.favnav .navigation li.active span.nav-header[class*=" fa-"]:before {
  color: #fff !important;
}
.favnav .navigation ul.nav-child li a[class^="fa-"]:before,
.favnav .navigation ul.nav-child li a[class*=" fa-"]:before,
.favnav .navigation ul.nav-child li a[class^="fa-"]:before,
.favnav .navigation ul.nav-child li a[class*=" fa-"]:before,
.favnav .navigation ul.nav-child li a[class^="fa-"]:hover:before,
.favnav .navigation ul.nav-child li a[class*=" fa-"]:hover:before,
.favnav .navigation ul.nav-child li a[class^="fa-"]:focus:before,
.favnav .navigation ul.nav-child li a[class*=" fa-"]:focus:before,
.favnav .navigation ul.nav-child li.active a[class^="fa-"]:before,
.favnav .navigation ul.nav-child li.active a[class*=" fa-"]:before,
.favnav .navigation ul.nav-child li span.nav-header[class^="fa-"]:before,
.favnav .navigation ul.nav-child li span.nav-header[class*=" fa-"]:before,
.favnav .navigation ul.nav-child li span.nav-header[class^="fa-"]:before,
.favnav .navigation ul.nav-child li span.nav-header[class*=" fa-"]:before,
.favnav .navigation ul.nav-child li span.nav-header[class^="fa-"]:hover:before,
.favnav .navigation ul.nav-child li span.nav-header[class*=" fa-"]:hover:before,
.favnav .navigation ul.nav-child li span.nav-header[class^="fa-"]:focus:before,
.favnav .navigation ul.nav-child li span.nav-header[class*=" fa-"]:focus:before,
.favnav .navigation ul.nav-child li.active span.nav-header[class^="fa-"]:before,
.favnav .navigation ul.nav-child li.active span.nav-header[class*=" fa-"]:before {
  color: #5c6bc0 !important;
}

/* make LINK CSS STYLE menu parameter compatible with FontAwesome */

.favnav .navigation li a[class^="fa-"]:before,
.favnav .navigation li a[class*=" fa-"]:before,
.favnav .navigation li span.nav-header[class^="fa-"]:before,
.favnav .navigation li span.nav-header[class*=" fa-"]:before {
  color: #fff;
}

/* submenu */

.favnav .navigation .nav-pills .nav-child > .active > a,
.favnav .navigation .nav-pills .nav-child > li > a:hover,
.favnav .navigation .menunav-pills .nav-child > .active > a,
.favnav .navigation .menunav-pills .nav-child > li > a:hover,
.favnav .navigation .nav-pills .nav-child > .active > span.nav-header,
.favnav .navigation .nav-pills .nav-child > li > span.nav-header:hover,
.favnav .navigation .menunav-pills .nav-child > .active > span.nav-header,
.favnav .navigation .menunav-pills .nav-child > li > span.nav-header:hover {
  color: #5c6bc0 !important;
}

/*/
///
///  menu icon fixes
///
/*/

ul.nav.menu li span.nav-header {
  color: #5c6bc0;
}

/*//////////////////////////////////////////////////////////////////////////////
///
///  vertical menus
///
//////////////////////////////////////////////////////////////////////////////*/

/*/
///
///  basic
///
/*/

ul.menubasic li a:hover,
ul.menubasic li a:focus,
ul.menubasic li.current a,
ul.menubasic li.current ul a:hover,
ul.menubasic li.current ul a:focus,
ul.menubasic li span.nav-header:hover,
ul.menubasic li span.nav-header:focus,
ul.menubasic li.current span.nav-header,
ul.menubasic li.current ul span.nav-header:hover,
ul.menubasic li.current ul span.nav-header:focus {
  color: #fff;
  background-color: #5c6bc0;
}
ul.menubasic li.current ul a,
ul.menubasic li.current ul span.nav-header {
  color: #444;
  background-color: #fff;
}
ul.menubasic.menu-light li a:hover,
ul.menubasic.menu-light li a:focus,
ul.menubasic.menu-light li.current a,
ul.menubasic.menu-light li.current ul a:hover,
ul.menubasic.menu-light li.current ul a:focus,
ul.menubasic.menu-light li.current ul a,
ul.menubasic.menu-light li span.nav-header:hover,
ul.menubasic.menu-light li span.nav-header:focus,
ul.menubasic.menu-light li.current span.nav-header,
ul.menubasic.menu-light li.current ul span.nav-header,
ul.menubasic.menu-light li.current ul span.nav-header:hover,
ul.menubasic.menu-light li.current ul span.nav-header:focus {
  color: #fff !important;
  background-color: #5c6bc0;
}

/* dark version */

#fav-container .fav-dark ul.menubasic,
#fav-container .fav-dark ul.menubasic li a,
#fav-container .fav-dark ul.menubasic li span.nav-header {
  color: #eee;
  border-color: #444;
}
#fav-container .fav-dark ul.menubasic li a:hover,
#fav-container .fav-dark ul.menubasic li a:focus,
#fav-container .fav-dark ul.menubasic li.current a,
#fav-container .fav-dark ul.menubasic li.current ul a:hover,
#fav-container .fav-dark ul.menubasic li.current ul a:focus,
#fav-container .fav-dark ul.menubasic li.current ul a,
#fav-container .fav-dark ul.menubasic li span.nav-header:hover,
#fav-container .fav-dark ul.menubasic li span.nav-header:focus,
#fav-container .fav-dark ul.menubasic li.current span.nav-header,
#fav-container .fav-dark ul.menubasic li.current ul span.nav-header,
#fav-container .fav-dark ul.menubasic li.current ul span.nav-header:hover,
#fav-container .fav-dark ul.menubasic li.current ul span.nav-header:focus {
  color: #5c6bc0;
  background-color: #1a1a1a;
}
#fav-container .fav-dark ul.menubasic.menu-clear li a:hover,
#fav-container .fav-dark ul.menubasic.menu-clear li a:focus,
#fav-container .fav-dark ul.menubasic.menu-clear li.current a,
#fav-container .fav-dark ul.menubasic.menu-clear li.current ul a:hover,
#fav-container .fav-dark ul.menubasic.menu-clear li.current ul a:focus,
#fav-container .fav-dark ul.menubasic.menu-clear li.current ul a,
#fav-container .fav-dark ul.menubasic.menu-clear li span.nav-header:hover,
#fav-container .fav-dark ul.menubasic.menu-clear li span.nav-header:focus,
#fav-container .fav-dark ul.menubasic.menu-clear li.current span.nav-header,
#fav-container .fav-dark ul.menubasic.menu-clear li.current ul span.nav-header,
#fav-container .fav-dark ul.menubasic.menu-clear li.current ul span.nav-header:hover,
#fav-container .fav-dark ul.menubasic.menu-clear li.current ul span.nav-header:focus {
  color: #fff;
  background-color: #5c6bc0;
}
#fav-container .fav-dark ul.menubasic.menu-dark li a:hover,
#fav-container .fav-dark ul.menubasic.menu-dark li a:focus,
#fav-container .fav-dark ul.menubasic.menu-dark li.current a,
#fav-container .fav-dark ul.menubasic.menu-dark li.current ul a:hover,
#fav-container .fav-dark ul.menubasic.menu-dark li.current ul a:focus,
#fav-container .fav-dark ul.menubasic.menu-dark li.current ul a,
#fav-container .fav-dark ul.menubasic.menu-dark li span.nav-header:hover,
#fav-container .fav-dark ul.menubasic.menu-dark li span.nav-header:focus,
#fav-container .fav-dark ul.menubasic.menu-dark li.current span.nav-header,
#fav-container .fav-dark ul.menubasic.menu-dark li.current ul span.nav-header,
#fav-container .fav-dark ul.menubasic.menu-dark li.current ul span.nav-header:hover,
#fav-container .fav-dark ul.menubasic.menu-dark li.current ul span.nav-header:focus {
  color: #5c6bc0 !important;
  background-color: #1a1a1a;
}
#fav-container .fav-dark ul.menubasic.menu-light li a:hover,
#fav-container .fav-dark ul.menubasic.menu-light li a:focus,
#fav-container .fav-dark ul.menubasic.menu-light li.current a,
#fav-container .fav-dark ul.menubasic.menu-light li.current ul a:hover,
#fav-container .fav-dark ul.menubasic.menu-light li.current ul a:focus,
#fav-container .fav-dark ul.menubasic.menu-light li.current ul a,
#fav-container .fav-dark ul.menubasic.menu-light li span.nav-header:hover,
#fav-container .fav-dark ul.menubasic.menu-light li span.nav-header:focus,
#fav-container .fav-dark ul.menubasic.menu-light li.current span.nav-header,
#fav-container .fav-dark ul.menubasic.menu-light li.current ul span.nav-header,
#fav-container .fav-dark ul.menubasic.menu-light li.current ul span.nav-header:hover,
#fav-container .fav-dark ul.menubasic.menu-light li.current ul span.nav-header:focus {
  color: #fff !important;
  background-color: #5c6bc0;
}

/*/
///
///  arrow
///
/*/

ul.menuarrow li a:hover,
ul.menuarrow li a:focus,
ul.menuarrow li.current a,
ul.menuarrow li.current ul a:hover,
ul.menuarrow li.current ul a:focus,
ul.menuarrow li span.nav-header:hover,
ul.menuarrow li span.nav-header:focus,
ul.menuarrow li.current span.nav-header,
ul.menuarrow li.current ul span.nav-header:hover,
ul.menuarrow li.current ul span.nav-header:focus {
  color: #5c6bc0;
  background-color: transparent;
}
ul.menuarrow li.current ul a,
ul.menuarrow li.current ul span.nav-header {
  color: #444;
}
ul.menuarrow li a:hover:before,
ul.menuarrow li a:focus:before,
ul.menuarrow li.current a:before,
ul.menuarrow li.current ul a:hover:before,
ul.menuarrow li.current ul a:focus:before,
ul.menuarrow li span.nav-header:hover:before,
ul.menuarrow li span.nav-header:focus:before {
  color: #5c6bc0;
}
ul.menuarrow.menu-light li a:hover,
ul.menuarrow.menu-light li a:focus,
ul.menuarrow.menu-light li.current a,
ul.menuarrow.menu-light li.current ul a:hover,
ul.menuarrow.menu-light li.current ul a:focus,
ul.menuarrow.menu-light li span.nav-header:hover,
ul.menuarrow.menu-light li span.nav-header:focus,
ul.menuarrow.menu-light li.current span.nav-header,
ul.menuarrow.menu-light li.current ul span.nav-header:hover,
ul.menuarrow.menu-light li.current ul span.nav-header:focus {
  color: #5c6bc0 !important;
}

/* dark version */

#fav-container .fav-dark ul.menuarrow li a:hover,
#fav-container .fav-dark ul.menuarrow li a:focus,
#fav-container .fav-dark ul.menuarrow li.current a,
#fav-container .fav-dark ul.menuarrow li.current ul a:hover,
#fav-container .fav-dark ul.menuarrow li.current ul a:focus,
#fav-container .fav-dark ul.menuarrow li span.nav-header:hover,
#fav-container .fav-dark ul.menuarrow li span.nav-header:focus,
#fav-container .fav-dark ul.menuarrow li.current span.nav-header,
#fav-container .fav-dark ul.menuarrow li.current ul span.nav-header:hover,
#fav-container .fav-dark ul.menuarrow li.current ul span.nav-header:focus {
  color: #5c6bc0 !important;
  background-color: transparent;
}
#fav-container .fav-dark ul.menuarrow li a:hover:before,
#fav-container .fav-dark ul.menuarrow li a:focus:before,
#fav-container .fav-dark ul.menuarrow li.current a:before,
#fav-container .fav-dark ul.menuarrow li.current ul a:hover:before,
#fav-container .fav-dark ul.menuarrow li.current ul a:focus:before,
#fav-container .fav-dark ul.menuarrow li span.nav-header:hover:before,
#fav-container .fav-dark ul.menuarrow li span.nav-header:focus:before,
#fav-container .fav-dark ul.menuarrow li.current span.nav-header:before,
#fav-container .fav-dark ul.menuarrow li.current ul span.nav-header:hover:before,
#fav-container .fav-dark ul.menuarrow li.current ul span.nav-header:focus:before {
  color: #5c6bc0;
}
#fav-container .fav-dark ul.menuarrow.menu-light li a:hover,
#fav-container .fav-dark ul.menuarrow.menu-light li a:focus,
#fav-container .fav-dark ul.menuarrow.menu-light li.current a,
#fav-container .fav-dark ul.menuarrow.menu-light li.current ul a:hover,
#fav-container .fav-dark ul.menuarrow.menu-light li.current ul a:focus,
#fav-container .fav-dark ul.menuarrow.menu-light li span.nav-header:hover,
#fav-container .fav-dark ul.menuarrow.menu-light li span.nav-header:focus,
#fav-container .fav-dark ul.menuarrow.menu-light li.current span.nav-header,
#fav-container .fav-dark ul.menuarrow.menu-light li.current ul span.nav-header:hover,
#fav-container .fav-dark ul.menuarrow.menu-light li.current ul span.nav-header:focus {
  color: #5c6bc0 !important;
}
#fav-container .fav-dark ul.menuarrow.menu-clear li a:hover,
#fav-container .fav-dark ul.menuarrow.menu-clear li a:focus,
#fav-container .fav-dark ul.menuarrow.menu-clear li.current a,
#fav-container .fav-dark ul.menuarrow.menu-clear li.current ul a:hover,
#fav-container .fav-dark ul.menuarrow.menu-clear li.current ul a:focus,
#fav-container .fav-dark ul.menuarrow.menu-clear li span.nav-header:hover,
#fav-container .fav-dark ul.menuarrow.menu-clear li span.nav-header:focus,
#fav-container .fav-dark ul.menuarrow.menu-clear li.current span.nav-header,
#fav-container .fav-dark ul.menuarrow.menu-clear li.current ul span.nav-header:hover,
#fav-container .fav-dark ul.menuarrow.menu-clear li.current ul span.nav-header:focus {
  color: #5c6bc0 !important;
}

/*/
///
///  side
///
/*/

ul.menuside li a:hover,
ul.menuside li a:focus,
ul.menuside li.current a,
ul.menuside li.current ul a:hover,
ul.menuside li.current ul a:focus,
ul.menuside li span.nav-header:hover,
ul.menuside li span.nav-header:focus,
ul.menuside li.current span.nav-header,
ul.menuside li.current ul span.nav-header:hover,
ul.menuside li.current ul span.nav-header:focus {
  color: #5c6bc0;
  border-left: 5px solid #5c6bc0;
  background-color: transparent;
}
ul.menuside li.current ul a {
  color: #444;
}
ul.menuside.menu-light li a:hover,
ul.menuside.menu-light li a:focus,
ul.menuside.menu-light li.current a,
ul.menuside.menu-light li.current ul a:hover,
ul.menuside.menu-light li.current ul a:focus,
ul.menuside.menu-light li span.nav-header:hover,
ul.menuside.menu-light li span.nav-header:focus,
ul.menuside.menu-light li.current span.nav-header,
ul.menuside.menu-light li.current ul span.nav-header:hover,
ul.menuside.menu-light li.current ul span.nav-header:focus {
  color: #5c6bc0 !important;
}

/* dark version */

#fav-container .fav-dark ul.menuside li a:hover,
#fav-container .fav-dark ul.menuside li a:focus,
#fav-container .fav-dark ul.menuside li.current a,
#fav-container .fav-dark ul.menuside li.current ul a:hover,
#fav-container .fav-dark ul.menuside li.current ul a:focus,
#fav-container .fav-dark ul.menuside li span.nav-header:hover,
#fav-container .fav-dark ul.menuside li span.nav-header:focus,
#fav-container .fav-dark ul.menuside li.current span.nav-header,
#fav-container .fav-dark ul.menuside li.current ul span.nav-header:hover,
#fav-container .fav-dark ul.menuside li.current ul span.nav-header:focus {
  color: #5c6bc0 !important;
  border-left: 5px solid #5c6bc0;
  background-color: transparent;
}
#fav-container .fav-dark ul.menuside.menu-light li a:hover,
#fav-container .fav-dark ul.menuside.menu-light li a:focus,
#fav-container .fav-dark ul.menuside.menu-light li.current a,
#fav-container .fav-dark ul.menuside.menu-light li.current ul a:hover,
#fav-container .fav-dark ul.menuside.menu-light li.current ul a:focus,
#fav-container .fav-dark ul.menuside.menu-light li span.nav-header:hover,
#fav-container .fav-dark ul.menuside.menu-light li span.nav-header:focus,
#fav-container .fav-dark ul.menuside.menu-light li.current span.nav-header,
#fav-container .fav-dark ul.menuside.menu-light li.current ul span.nav-header:hover,
#fav-container .fav-dark ul.menuside.menu-light li.current ul span.nav-header:focus {
  color: #5c6bc0 !important;
}

/*/
///
///  line
///
/*/

ul.menuline li a:hover,
ul.menuline li a:focus,
ul.menuline li.current a,
ul.menuline li.current ul a:hover,
ul.menuline li.current ul a:focus,
ul.menuline li span.nav-header:hover,
ul.menuline li span.nav-header:focus,
ul.menuline li.current span.nav-header,
ul.menuline li.current ul span.nav-header:hover,
ul.menuline li.current ul span.nav-header:focus {
  color: #444;
  border-bottom: 1px solid #5c6bc0;
  background-color: transparent;
}
ul.menuline li.current ul a {
  color: #444;
}
ul.menuline li a:hover:before,
ul.menuline li a:focus:before,
ul.menuline li.current a:before,
ul.menuline li.current ul a:hover:before,
ul.menuline li.current ul a:focus:before,
ul.menuline li span.nav-header:hover:before,
ul.menuline li span.nav-header:focus:before,
ul.menuline li.current span.nav-header:before,
ul.menuline li.current ul span.nav-header:hover:before,
ul.menuline li.current ul span.nav-header:focus:before {
  color: #5c6bc0;
}
ul.menuline.menu-clear li a:hover,
ul.menuline.menu-clear li a:focus,
ul.menuline.menu-clear li span.nav-header:hover,
ul.menuline.menu-clear li span.nav-header:focus {
  color: #fff;
  border-bottom: 1px solid #5c6bc0;
}
ul.menuline.menu-dark li a:hover,
ul.menuline.menu-dark li a:focus,
ul.menuline.menu-dark li span.nav-header:hover,
ul.menuline.menu-dark li span.nav-header:focus {
  color: #fff !important;
  border-bottom: 1px solid #5c6bc0;
}
ul.menuline.menu-light li a:hover,
ul.menuline.menu-light li a:focus,
ul.menuline.menu-light li.current a,
ul.menuline.menu-light li.current ul a:hover,
ul.menuline.menu-light li.current ul a:focus,
ul.menuline.menu-light li span.nav-header:hover,
ul.menuline.menu-light li span.nav-header:focus,
ul.menuline.menu-light li.current span.nav-header,
ul.menuline.menu-light li.current ul span.nav-header:hover,
ul.menuline.menu-light li.current ul span.nav-header:focus {
  color: #444 !important;
  border-bottom: 1px solid #5c6bc0;
}

/* dark version */

#fav-container .fav-dark ul.menuline li a:hover,
#fav-container .fav-dark ul.menuline li a:focus,
#fav-container .fav-dark ul.menuline li.current a,
#fav-container .fav-dark ul.menuline li.current ul a:hover,
#fav-container .fav-dark ul.menuline li.current ul a:focus,
#fav-container .fav-dark ul.menuline li span.nav-header:hover,
#fav-container .fav-dark ul.menuline li span.nav-header:focus,
#fav-container .fav-dark ul.menuline li.current span.nav-header,
#fav-container .fav-dark ul.menuline li.current ul span.nav-header:hover,
#fav-container .fav-dark ul.menuline li.current ul span.nav-header:focus {
  border-bottom: 1px solid #5c6bc0;
  background-color: transparent;
  color: #eee;
}
#fav-container .fav-dark ul.menuline li a:hover:before,
#fav-container .fav-dark ul.menuline li a:focus:before,
#fav-container .fav-dark ul.menuline li.current a:before,
#fav-container .fav-dark ul.menuline li.current ul a:hover:before,
#fav-container .fav-dark ul.menuline li.current ul a:focus:before,
#fav-container .fav-dark ul.menuline li span.nav-header:hover:before,
#fav-container .fav-dark ul.menuline li span.nav-header:focus:before,
#fav-container .fav-dark ul.menuline li.current span.nav-header:before,
#fav-container .fav-dark ul.menuline li.current ul span.nav-header:hover:before,
#fav-container .fav-dark ul.menuline li.current ul span.nav-header:focus:before {
  color: #5c6bc0;
}
#fav-container .fav-dark ul.menuline.menu-clear li a:hover,
#fav-container .fav-dark ul.menuline.menu-clear li a:focus,
#fav-container .fav-dark ul.menuline.menu-clear li.current a,
#fav-container .fav-dark ul.menuline.menu-clear li.current ul a:hover,
#fav-container .fav-dark ul.menuline.menu-clear li.current ul a:focus,
#fav-container .fav-dark ul.menuline.menu-clear li span.nav-header:hover,
#fav-container .fav-dark ul.menuline.menu-clear li span.nav-header:focus,
#fav-container .fav-dark ul.menuline.menu-clear li.current span.nav-header,
#fav-container .fav-dark ul.menuline.menu-clear li.current ul span.nav-header:hover,
#fav-container .fav-dark ul.menuline.menu-clear li.current ul span.nav-header:focus {
  color: #eee;
  border-bottom: 1px solid #5c6bc0;
}
#fav-container .fav-dark ul.menuline.menu-clear li a:hover,
#fav-container .fav-dark ul.menuline.menu-clear li a:focus,
#fav-container .fav-dark ul.menuline.menu-clear li.current a,
#fav-container .fav-dark ul.menuline.menu-clear li.current ul a:hover,
#fav-container .fav-dark ul.menuline.menu-clear li.current ul a:focus,
#fav-container .fav-dark ul.menuline.menu-clear li span.nav-header:hover,
#fav-container .fav-dark ul.menuline.menu-clear li span.nav-header:focus,
#fav-container .fav-dark ul.menuline.menu-clear li.current span.nav-header,
#fav-container .fav-dark ul.menuline.menu-clear li.current ul span.nav-header:hover,
#fav-container .fav-dark ul.menuline.menu-clear li.current ul span.nav-header:focus {
  border-bottom: 1px solid #5c6bc0;
}
#fav-container .fav-dark ul.menuline.menu-light li a:hover,
#fav-container .fav-dark ul.menuline.menu-light li a:focus,
#fav-container .fav-dark ul.menuline.menu-light li.current a,
#fav-container .fav-dark ul.menuline.menu-light li.current ul a:hover,
#fav-container .fav-dark ul.menuline.menu-light li.current ul a:focus,
#fav-container .fav-dark ul.menuline.menu-light li span.nav-header:hover,
#fav-container .fav-dark ul.menuline.menu-light li span.nav-header:focus,
#fav-container .fav-dark ul.menuline.menu-light li.current span.nav-header,
#fav-container .fav-dark ul.menuline.menu-light li.current ul span.nav-header:hover,
#fav-container .fav-dark ul.menuline.menu-light li.current ul span.nav-header:focus {
  color: #444 !important;
  border-bottom: 1px solid #5c6bc0;
}

/*//////////////////////////////////////////////////////////////////////////////
///
///  horizontal menus
///
//////////////////////////////////////////////////////////////////////////////*/

ul.menuhorizontal li.active a,
ul.menuhorizontal li a:hover,
ul.menuhorizontal li a:focus,
ul.menuhorizontal li:hover a,
ul.menuhorizontal li:focus a,
ul.menuhorizontal li.active span.nav-header,
ul.menuhorizontal li span.nav-header:hover,
ul.menuhorizontal li span.nav-header:focus,
ul.menuhorizontal li:hover span.nav-header,
ul.menuhorizontal li:focus span.nav-header,
ul.menuhorizontal li span.nav-header:hover,
ul.menuhorizontal li span.nav-header:focus {
  color: #5c6bc0;
  background-color: transparent;
}

/* dark version */

#fav-container .fav-dark ul.menuhorizontal li.active a,
#fav-container .fav-dark ul.menuhorizontal li a:hover,
#fav-container .fav-dark ul.menuhorizontal li a:focus,
#fav-container .fav-dark ul.menuhorizontal li:hover a,
#fav-container .fav-dark ul.menuhorizontal li:focus a,
#fav-container .fav-dark ul.menuhorizontal li.active span.nav-header,
#fav-container .fav-dark ul.menuhorizontal li span.nav-header:hover,
#fav-container .fav-dark ul.menuhorizontal li span.nav-header:focus,
#fav-container .fav-dark ul.menuhorizontal li:hover span.nav-header,
#fav-container .fav-dark ul.menuhorizontal li:focus span.nav-header,
#fav-container .fav-dark ul.menuhorizontal li span.nav-header:hover,
#fav-container .fav-dark ul.menuhorizontal li span.nav-header:focus {
  color: #5c6bc0;
  background-color: transparent;
}

/*/
///
///  clear
///
/*/

ul.menuhorizontal.menu-clear li.active a,
ul.menuhorizontal.menu-clear li a:hover,
ul.menuhorizontal.menu-clear li a:focus,
ul.menuhorizontal.menu-clear li:hover a,
ul.menuhorizontal.menu-clear li:focus a,
ul.menuhorizontal.menu-clear li.active span.nav-header,
ul.menuhorizontal.menu-clear li span.nav-header:hover,
ul.menuhorizontal.menu-clear li span.nav-header:focus,
ul.menuhorizontal.menu-clear li:hover span.nav-header,
ul.menuhorizontal.menu-clear li:focus span.nav-header,
ul.menuhorizontal.menu-clear li span.nav-header:hover,
ul.menuhorizontal.menu-clear li span.nav-header:focus {
  color: #5c6bc0 !important;
}
ul.menuhorizontal.menu-clear li a:before,
ul.menuhorizontal.menu-clear li span.nav-header:before {
  color: #fff;
}
ul.menuhorizontal.menu-clear li.active a:before,
ul.menuhorizontal.menu-clear li a:hover:before,
ul.menuhorizontal.menu-clear li a:focus:before,
ul.menuhorizontal.menu-clear li:hover a:before,
ul.menuhorizontal.menu-clear li:focus a:before,
ul.menuhorizontal.menu-clear li.active span.nav-header:before,
ul.menuhorizontal.menu-clear li span.nav-header:hover:before,
ul.menuhorizontal.menu-clear li span.nav-header:focus:before,
ul.menuhorizontal.menu-clear li:hover span.nav-header:before,
ul.menuhorizontal.menu-clear li:focus span.nav-header:before,
ul.menuhorizontal.menu-clear li span.nav-header:hover:before,
ul.menuhorizontal.menu-clear li span.nav-header:focus:before {
  color: #5c6bc0 !important;
}

/* dark */
ul.menuhorizontal.menu-dark li.active a,
ul.menuhorizontal.menu-dark li a:hover,
ul.menuhorizontal.menu-dark li a:focus,
ul.menuhorizontal.menu-dark li:hover a,
ul.menuhorizontal.menu-dark li:focus a,
ul.menuhorizontal.menu-dark li.active span.nav-header,
ul.menuhorizontal.menu-dark li span.nav-header:hover,
ul.menuhorizontal.menu-dark li span.nav-header:focus,
ul.menuhorizontal.menu-dark li:hover span.nav-header,
ul.menuhorizontal.menu-dark li:focus span.nav-header,
ul.menuhorizontal.menu-dark li span.nav-header:hover,
ul.menuhorizontal.menu-dark li span.nav-header:focus {
  color: #5c6bc0 !important;
}
ul.menuhorizontal.menu-dark li.active a:before,
ul.menuhorizontal.menu-dark li a:hover:before,
ul.menuhorizontal.menu-dark li a:focus:before,
ul.menuhorizontal.menu-dark li:hover a:before,
ul.menuhorizontal.menu-dark li:focus a:before,
ul.menuhorizontal.menu-dark li.active span.nav-header:before,
ul.menuhorizontal.menu-dark li span.nav-header:hover:before,
ul.menuhorizontal.menu-dark li span.nav-header:focus:before,
ul.menuhorizontal.menu-dark li:hover span.nav-header:before,
ul.menuhorizontal.menu-dark li:focus span.nav-header:before,
ul.menuhorizontal.menu-dark li span.nav-header:hover:before,
ul.menuhorizontal.menu-dark li span.nav-header:focus:before {
  color: #5c6bc0 !important;
}

/* light */
ul.menuhorizontal.menu-light li.active a,
ul.menuhorizontal.menu-light li a:hover,
ul.menuhorizontal.menu-light li a:focus,
ul.menuhorizontal.menu-light li:hover a,
ul.menuhorizontal.menu-light li:focus a,
ul.menuhorizontal.menu-light li.active span.nav-header,
ul.menuhorizontal.menu-light li span.nav-header:hover,
ul.menuhorizontal.menu-light li span.nav-header:focus,
ul.menuhorizontal.menu-light li:hover span.nav-header,
ul.menuhorizontal.menu-light li:focus span.nav-header,
ul.menuhorizontal.menu-light li span.nav-header:hover,
ul.menuhorizontal.menu-light li span.nav-header:focus {
  color: #5c6bc0 !important;
  background-color: transparent;
  text-decoration: none;
}

/* right */
ul.menuhorizontal.pull-right li.active a,
ul.menuhorizontal.pull-right li a:hover,
ul.menuhorizontal.pull-right li a:focus,
ul.menuhorizontal.pull-right li:hover a,
ul.menuhorizontal.pull-right li:focus a,
ul.menuhorizontal.pull-right li.active span.nav-header,
ul.menuhorizontal.pull-right li span.nav-header:hover,
ul.menuhorizontal.pull-right li span.nav-header:focus,
ul.menuhorizontal.pull-right li:hover span.nav-header,
ul.menuhorizontal.pull-right li:focus span.nav-header,
ul.menuhorizontal.pull-right li span.nav-header:hover,
ul.menuhorizontal.pull-right li span.nav-header:focus {
  color: #5c6bc0;
  background-color: transparent;
  text-decoration:none;
}

/*//////////////////////////////////////////////////////////////////////////////

4. module positions

//////////////////////////////////////////////////////////////////////////////*/

/*/
///
///  back to top
///
/*/

a.backtop i {
  background-color: #5c6bc0;
  color: #FFFFFF;
}

/*/
///
///  color module positions
///
/*/

#fav-noticewrap,
#fav-focuswrap {
  background-color: #5c6bc0;
  color: #fff;
}

/*//////////////////////////////////////////////////////////////////////////////

5. titles

//////////////////////////////////////////////////////////////////////////////*/

.page-header h2 a:hover,
h2.item-title a:hover,
div.categories-list h3 a:hover,
div.newsfeed h2 a:hover,
div.newsfeed-category h2 a:hover {
  color: #5c6bc0;
}
.moduletable h3 [class^="fa fa-"],
.moduletable h3 [class*=" fa fa-"] {
  background-color: #5c6bc0;
  color: #fff;
}

/* dark version */

#fav-container .fav-dark .page-header h2 a:hover,
#fav-container .fav-dark h2.item-title a:hover,
#fav-container .fav-dark div.categories-list h3 a:hover,
#fav-container .fav-dark div.newsfeed h2 a:hover {
  color: #5c6bc0;
}

/*//////////////////////////////////////////////////////////////////////////////

6. buttons

//////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////////////////////////////////
///
///  default
///
//////////////////////////////////////////////////////////////////////////////*/

.btn,
.pager .next a,
.pager .previous a {
  color: #fff;
  background-color: #5c6bc0;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.pager .next a:hover,
.pager .previous a:hover,
.pager .next a:focus,
.pager .previous a:focus {
  color: #fff;
  background-color: #333;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

/*//////////////////////////////////////////////////////////////////////////////
///
///  primary
///
//////////////////////////////////////////////////////////////////////////////*/

.btn-primary {
  color: #fff;
  background-color: #5c6bc0;
  border: 1px solid transparent;
  background-image: none;
}
.btn-primary:hover,
.btn-primary:focus  {
  color: #fff;
  background-color: #5c6bc0;
}

/*//////////////////////////////////////////////////////////////////////////////
///
///  pagination
///
//////////////////////////////////////////////////////////////////////////////*/

.pagination ul li a,
.pagination ul > .disabled > a,
.pagination ul > .active > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus,
.pagination ul > .active > a:hover,
.pagination ul > .active > a:focus {
  color: #fff;
  background-color: #5c6bc0;
}
.pagination ul li a:hover,
.pagination ul li a:focus,
.pagination ul li.active a,
.pagination ul li.active a:hover {
  color: #5c6bc0;
  background-color: #fff;
}

/* dark version */

#fav-container .fav-dark .pagination ul li a,
#fav-container .fav-dark .pagination ul > .disabled > a,
#fav-container .fav-dark .pagination ul > .active > a,
#fav-container .fav-dark .pagination ul > .disabled > a:hover,
#fav-container .fav-dark .pagination ul > .disabled > a:focus,
#fav-container .fav-dark .pagination ul > .active > a:hover,
#fav-container .fav-dark .pagination ul > .active > a:focus {
  color: #fff;
  background-color: #5c6bc0;
}
#fav-container .fav-dark .pagination ul li a:hover,
#fav-container .fav-dark .pagination ul li a:focus,
#fav-container .fav-dark .pagination ul li.active a,
#fav-container .fav-dark .pagination ul li.active a:hover {
  color: #5c6bc0;
  background-color: #fff;
}

/*//////////////////////////////////////////////////////////////////////////////

7. variations

//////////////////////////////////////////////////////////////////////////////*/

.moduletable-sfx1 h3 i,
.moduletable-sfx2 h3 i,
.moduletable-sfx5 h3 i,
.moduletable-sfx6 h3 i,
.moduletable-sfx13 h3 i,
.moduletable-sfx14 h3 i,
.moduletable-sfx17 h3 i,
.moduletable-sfx18 h3 i,
.moduletable-sfx21 h3 i,
.moduletable-sfx22 h3 i,
.moduletable-sfx25 h3 i,
.moduletable-sfx26 h3 i,
.moduletable-sfx29 h3 i,
.moduletable-sfx30 h3 i,
.moduletable-sfx33 h3 i,
.moduletable-sfx34 h3 i,
.moduletable-sfx21 a:hover,
.moduletable-sfx21 a:focus {
  color: #5c6bc0;
}
.moduletable-sfx3 h3 i,
.moduletable-sfx4 h3 i,
.moduletable-sfx7 h3 i,
.moduletable-sfx8 h3 i,
.moduletable-sfx15 h3 i,
.moduletable-sfx16 h3 i,
.moduletable-sfx19 h3 i,
.moduletable-sfx20 h3 i,
.moduletable-sfx23 h3 i,
.moduletable-sfx24 h3 i,
.moduletable-sfx27 h3 i,
.moduletable-sfx28 h3 i,
.moduletable-sfx31 h3 i,
.moduletable-sfx32 h3 i,
.moduletable-sfx35 h3 i,
.moduletable-sfx36 h3 i,
.moduletable-sfx9,
.moduletable-sfx10,
.moduletable-sfx11,
.moduletable-sfx12 {
  background-color: #5c6bc0;
  color: #FFF;
}
.moduletable-sfx4 h3,
.moduletable-sfx8 h3,
.moduletable-sfx16 h3,
.moduletable-sfx16 h3,
.moduletable-sfx20 h3,
.moduletable-sfx24 h3,
.moduletable-sfx28 h3,
.moduletable-sfx32 h3,
.moduletable-sfx36 h3 {
  border-bottom: 1px solid #5c6bc0;
}

/* dark version */

#fav-container .fav-dark #fav-featurewrap .moduletable-sfx1 a:hover,
#fav-container .fav-dark #fav-featurewrap .moduletable-sfx1 a:focus,
#fav-container .fav-dark #fav-featurewrap .moduletable-sfx2 a:hover,
#fav-container .fav-dark #fav-featurewrap .moduletable-sfx2 a:focus,
#fav-container .fav-dark #fav-featurewrap .moduletable-sfx3 a:hover,
#fav-container .fav-dark #fav-featurewrap .moduletable-sfx3 a:focus,
#fav-container .fav-dark #fav-featurewrap .moduletable-sfx4 a:hover,
#fav-container .fav-dark #fav-featurewrap .moduletable-sfx4 a:focus,
#fav-container .fav-dark #fav-featurewrap .moduletable-sfx5 a:hover,
#fav-container .fav-dark #fav-featurewrap .moduletable-sfx5 a:focus,
#fav-container .fav-dark #fav-featurewrap .moduletable-sfx6 a:hover,
#fav-container .fav-dark #fav-featurewrap .moduletable-sfx6 a:focus,
#fav-container .fav-dark #fav-featurewrap .moduletable-sfx7 a:hover,
#fav-container .fav-dark #fav-featurewrap .moduletable-sfx7 a:focus,
#fav-container .fav-dark #fav-featurewrap .moduletable-sfx8 a:hover,
#fav-container .fav-dark #fav-featurewrap .moduletable-sfx8 a:focus {
  color: #5c6bc0 !important;
}
#fav-container .fav-dark #fav-blockwrap .moduletable-sfx1 a:hover,
#fav-container .fav-dark #fav-blockwrap .moduletable-sfx1 a:focus,
#fav-container .fav-dark #fav-blockwrap .moduletable-sfx2 a:hover,
#fav-container .fav-dark #fav-blockwrap .moduletable-sfx2 a:focus,
#fav-container .fav-dark #fav-blockwrap .moduletable-sfx3 a:hover,
#fav-container .fav-dark #fav-blockwrap .moduletable-sfx3 a:focus,
#fav-container .fav-dark #fav-blockwrap .moduletable-sfx4 a:hover,
#fav-container .fav-dark #fav-blockwrap .moduletable-sfx4 a:focus,
#fav-container .fav-dark #fav-blockwrap .moduletable-sfx5 a:hover,
#fav-container .fav-dark #fav-blockwrap .moduletable-sfx5 a:focus,
#fav-container .fav-dark #fav-blockwrap .moduletable-sfx6 a:hover,
#fav-container .fav-dark #fav-blockwrap .moduletable-sfx6 a:focus,
#fav-container .fav-dark #fav-blockwrap .moduletable-sfx7 a:hover,
#fav-container .fav-dark #fav-blockwrap .moduletable-sfx7 a:focus,
#fav-container .fav-dark #fav-blockwrap .moduletable-sfx8 a:hover,
#fav-container .fav-dark #fav-blockwrap .moduletable-sfx8 a:focus {
  color: #5c6bc0 !important;
}

/*//////////////////////////////////////////////////////////////////////////////

8. custom pages

//////////////////////////////////////////////////////////////////////////////*/

/*/
///
///  download theme section
///
/*/

#fav-download #fav-download-btn a.btn:hover,
#fav-download #fav-download-btn a.btn:focus {
  color: #5c6bc0 !important;
}

/*/
///
///  demo navigation styles
///
/*/

#fav-container .demo-nav-styles {
  background-color: #5c6bc0;
}

/*//////////////////////////////////////////////////////////////////////////////

9. typography

//////////////////////////////////////////////////////////////////////////////*/

/*/
///
///  bootstrap elements
///
/*/

/* blockquote */
blockquote {
  border-color: #5c6bc0;
}
blockquote.blockquote-dark {
  border-color: #5c6bc0;
}

/* badge */
.badge-info {
  background-color: #5c6bc0;
}

/*/
///
///  lists
///
/*/

ul.list-square li:before {
  background-color: #5c6bc0;
  color: #fff;
}
ol.list-square li:before {
  color: #fff;
  background: none repeat scroll 0% 0% #5c6bc0;
}
ul.list-circle li:before {
  background-color: #5c6bc0;
  color: #fff;
}
ol.list-circle li:before {
  color: #fff;
  background: none repeat scroll 0% 0% #5c6bc0;
}

/*//////////////////////////////////////////////////////////////////////////////

10. joomla

//////////////////////////////////////////////////////////////////////////////*/

/*/
///
///  article dropdown
///
/*/

ul.dropdown-menu a:hover {
  color: #5c6bc0;
}
.btn-group.open .btn.dropdown-toggle {
  background-color: #5c6bc0;
}

/* dark version */

#fav-container .fav-dark ul.dropdown-menu a:hover {
  color: #5c6bc0;
}

/*/
///
///  tags
///
/*/

ul.tags li a {
  color: #5c6bc0;
}
div.tag-category ul.thumbnails h3 a {
  background-color: #5c6bc0;
  color: #fff;
}

/*/
///
///  search
///
/*/

#fav-search-advanced-fields .accordion-heading a.accordion-toggle {
  color: #fff;
  background-color: #5c6bc0;
}

/*/// mobile ///*/
@media (max-width: 768px) {

  .moduletablefavstyle.pull-left .fav-search a.btn.dropdown-toggle i {
    color: #5c6bc0;
  }

}

/*/
///
///  profile
///
/*/

#member-profile button.btn.btn-primary.validate,
#member-profile a.btn {
  color: #fff;
  background-color: #5c6bc0;
}

/*/
///
///  newsfeed
///
/*/

div.newsfeed h2 a:hover,
div.newsfeed-category h2 a:hover {
  color: #5c6bc0;
}

/*//////////////////////////////////////////////////////////////////////////////

11. extensions

//////////////////////////////////////////////////////////////////////////////*/

/*/
///
///  favpromote
///
/*/

.favstyle div[id^="favpromote-box"] h4[id^="favpromote-title"],
.favstyle div[id^="favpromote-box"] h4[id*=" favpromote-title"] {
  background-color: #5c6bc0 !important;
}
.favstyle div[id^="favpromote-box"]:hover h4[id^="favpromote-title"],
.favstyle div[id^="favpromote-box"]:hover h4[id*=" favpromote-title"],
.favstyle div[id^="favpromote-box"] h4[id^="favpromote-title"]:hover,
.favstyle div[id^="favpromote-box"] h4[id*=" favpromote-title"]:hover {
  background-color: #111 !important;
}

/*/
///
///  favglyph
///
/*/

.favstyle div[id^="favglyph-icon"],
.favstyle div[id*=" favglyph-icon"] {
  background-color: #5c6bc0 !important;
  border: 1px solid #5c6bc0 !important;
}

/*/
///
///  faveffects
///
/*/

.favstyle div[id^="faveffects-icon"] i,
.favstyle div[id*=" faveffects-icon"] i {
  color: #5c6bc0 !important;
}
.favstyle div[id^="faveffects-icon"] i:hover,
.favstyle div[id*=" faveffects-icon"] i:hover {
  color: #444 !important;
}

/*/
///
///  favsocial
///
/*/

.favstyle div[id^="favsocial"] a,
.favstyle div[id*=" favsocial"] a {
  background-color: #5c6bc0 !important;
}